@font-face {
  font-family: "Toledo2";
  src: url(images/Toledo-Medium\ Regular.ttf);
}

@font-face {
  font-family: "EkMukta";
  src: url(images/EkMukta-ExtraBold.ttf);
}

.indexBody {
  background-image: url(images/albumbg.png);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.indexMain h1 {
  font: 100px Toledo2;
  margin-top: .01rem;
  padding: 0;
  text-align: center;
  color: #EE6C84;
}

#indexAlbum img {
  display: block;
  margin: auto;
  width: 25% !important;
  box-shadow: 0 0 20px 15px #EE6C84;
}

#indexAlbum img:hover {
  border: 2px solid white;
}

#indexAlbum {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#albumName {
  justify-content: space-between;
  display: flex;
  width: 500px;
  font: 20px EkMukta;
  color: #EE6C84;
}

#albumName h2 {
  padding-top: 15px;
  margin: 0;
}

#listenButton {
  padding: .5em;
  border: 1px solid #EE6C84;
  background-color:#EE6C84;
}

#listenButton:hover {
  border: 2px solid white;
}

#listenButton a {
  font: bold 15px Arial Black;
  text-decoration: none;
  color: white
}

#listenButton a:hover {
  font: italic bold 15px Arial Black;
  text-decoration: underline;
}

#indexTOUR {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;
}

#ticketButton {
  padding: .5em;
  background-image: url(images/auhtourbg.png);
  background-size: cover;
  background-repeat: repeat;
  
}

#ticketButton:hover {
  border: 2px solid #AFF988;
  padding: .5em;
  background-image: url(images/auhtourbg.png);
  background-size: cover;
  background-repeat: repeat;
}

#ticketButton a {
  font: bold 15px Arial Black;
  text-decoration: none;
  color: #AFF988;
}

#ticketButton a:hover {
  text-decoration: underline;
  font: italic bold 15px Arial Black;
}

#poster img {
  width:750px;
  box-shadow: 0 0 20px 15px #37E4AF;
}

#poster img:hover {
  border: 3px solid #AFF988;
  width:750px;
  box-shadow: 0 0 20px 15px #37E4AF;
}

.indexVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;

  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color:white;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color:#3C3F48;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background:#EE6C84;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(.77,.2,.05,1), background 0.5s cubic-bezier(.77,.2,.05,1), opacity .55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 300px;
  width: 100vw;
  height: 1000px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background:#EE6C84;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border:3px solid #232323;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  font: bold 22px Arial Black;
  text-align: center;
  padding: 30px 0;
}

#menu li label
{
  cursor: pointer;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

footer a {
    color: white;
    text-decoration: none;
}

footer {
  background-color: #EE6C84;
  padding: 2rem;
  font: 10px Arial Black, sans-serif;
  color: white;
  text-align: center;
}

.footerTop, .footerBottom {
  margin-bottom: 2rem;
}

.footerLinks {
    margin-bottom: 1rem;
}

.footerLinks a {
    font-size: 1rem;
    margin: 0 0.75rem;
    font-style: italic;
 
}

.footerSocials a {
margin: 0 10px;
}

.footerSocials img {
  width: 20px;
  height: 20px;
  filter: brightness(100);
}

.footerBottom a {
    font-size: 0.6rem;
    font-weight: bold;
    margin: 0 2rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}